<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-icon name="chevron-back-outline" id="flechita-atras"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <h2>Melany Jiménez te ha invitado a comer</h2>
    <h4>¿Quieres unirte a su sala?</h4>
    <div id="botones-invitacion">
      <ion-button color="light" size="large" (click)="Rechazar()">Rechazar</ion-button>
      <ion-button color="primary" size="large" (click)="Aceptar()">Aceptar</ion-button>
    </div>
  </div>
</ion-content>
